<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.lingnan.mooc.message.mapper.NoticeMapper">

	<select id="countUnReadNoticeNum" resultType="int">
		select count(id) from course
	</select>

	<select id="countUnReadNoticeByUserId" resultType="int">
		select count(id) from notice where accept_id = #{userId} and notice_flag = 0;
	</select>
	<select id="countUnReadNoticeByManagerId" resultType="int">
		select count(id) from notice where  notice_flag = 0 and accept_id = #{userId} or course_id is not null;
	</select>

</mapper>
 