<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.lingnan.mooc.message.mapper.NoticeMapper">

	<insert id="insert">
		insert into notice(`send_id`,`accept_id`,`course_id`,`comment_id`,`reply_id`,`content`,`type`,`flag`)
		value (#{sendId},#{acceptId},#{courseId},#{commentId},#{replyId},#{content},#{type},#{flag})
	</insert>

	<update id="updateNoticeStatus">
		update notice set status = #{status}
        where id in
        <foreach collection="noticeIdList" open="(" close=")" item="id" separator=",">
			#{id}
		</foreach>
	</update>

	<update id="updateAllNoticeStatus">
		update notice set status = #{toStatus} where status = #{fromStatus}
		<if test="isManager">
			and (accept_id = #{userId} or course_id is not null) and type = 1
		</if>
		<if test="!isManager">
			and accept_id = #{userId} and type = 2
		</if>
	</update>

	<select id="countUnReadNoticeByUserId" resultType="int">
		select count(id) from notice where accept_id = #{userId} and status = #{status} and type = 2;
	</select>

	<select id="countUnReadNoticeByManagerId" resultType="int">
		select count(id) from notice where  status = #{status} and type = 1 and (accept_id = #{managerId} or course_id is not null)
	</select>

    <select id="getNoticeList" resultType="cn.edu.lingnan.mooc.message.model.vo.NoticeVO">
		select * from notice where  status = #{status}
        <if test="isManager">
			and (accept_id = #{userId} or course_id is not null) and type = 1
		</if>
		<if test="!isManager">
			and accept_id = #{userId} and type = 2
		</if>
	</select>

    <select id="findById" resultType="cn.edu.lingnan.mooc.message.model.entity.Notice">
		select * from notice where id = #{id};
	</select>

	<select id="getUserName" resultType="java.lang.String">
		select name from mooc_user where id = #{id}
	</select>

	<select id="getCourseName" resultType="java.lang.String">
		select name from course where id = #{id}
	</select>

</mapper>
 