<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.lingnan.mooc.statistics.dao.mapper.CourseMapper">

	<select id="selectAll" resultType="cn.edu.lingnan.mooc.statistics.model.entity.mysql.Course">
		select * from course
	</select>

	<select id="countAllCourseCategory" resultType="java.util.Map">
		SELECT c.name AS name, COUNT(*) AS value
		FROM category c,tag t,course_tag_rel ct
		WHERE c.id = t.category_id AND ct.tag_id = t.id
		GROUP BY c.id;
	</select>

	<select id="countCourseCategoryByUserId" resultType="java.util.Map">
		SELECT c.name AS name, COUNT(*) AS value
		FROM category c,tag t,course_tag_rel ct
		WHERE c.id = t.category_id AND ct.tag_id = t.id
		AND ct.course_id in (select id from course where teacher_id = #{userId})
		GROUP BY c.id;
	</select>


	<select id="countNewAddCourseNum" resultType="java.util.Map">
		select date_format(create_time, '%Y-%m-%d') date, count(*) count
		from course
		where create_time >= #{beginTime} and create_time &lt;= #{endTime}
		group by date;
	</select>

	<select id="countCommentGroupByTime" resultType="java.util.Map">
		select DATE_FORMAT(CREATE_TIME,'%Y-%m-%d') date,count(*) count
		from course_comment
		where create_time >= #{beginTime} and create_time &lt;= #{endTime}
		<if test="teacherId != null">
			and course_id in (select id from course where teacher_id = #{teacherId})
		</if>
		group by date;
	</select>

    <select id="getCourseNameByIdList" resultType="java.util.Map">
		select id,name,image from course where id in
		<foreach collection="courseIdList" open="(" separator="," close=")" item="id">
			#{id}
		</foreach>

	</select>

	<select id="getCourseByIdList" resultType="cn.edu.lingnan.mooc.statistics.model.entity.mysql.Course">
		select * from course where id in
		<foreach collection="courseIdList" open="(" separator="," close=")" item="id">
			#{id}
		</foreach>
	</select>


	<select id="getTeacherNameByIdList" resultType="java.util.Map">
		select id,name from mooc_user where id in
		<foreach collection="teacherIdList" open="(" separator="," close=")" item="id">
			#{id}
		</foreach>
	</select>

</mapper>
 